$color-primary:  #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-warning-light: rgb(236, 116, 116);
$color-warning-dark: rgb(172, 29, 29);

$color-black: #000;

$color-sky-blue: rgb(111, 198, 213);

$color-sun-rising: rgb(119, 158, 57);

$color-grey_light-1: #f7f7f7;
$color-grey_light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;

$color-primary-red: rgb(245, 89, 78);


//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;